z<!--users/templates/registration/password_reset_done.html-->
{% extends 'base.html' %}
{% block content %}

<article class="message is-primary is-medium">
    <div class="message-header">
        <p>Success,We've sent you an email with instructions for resetting your password.</p>
        
    </div>
    <div class="message-body">
        <p class="column is-large">Password reset done <a href="{% url 'login' %}" class="has-text-primary has-background-primarylight">Back to Login</a>
        </p>
    </div>
    </article>
    </div>
    </div>
{% endblock %}