
{% extends 'base.html' %}
{% block content %}

<div class="columns">
    <div class="column is-size-30">
<div class="box" >
<button class="button is-primary is-outlined is-large has-text-centered " onclick="location.href=`{% url 'store_signup' %}` ">Sign up as Store</button>
<button class="button is-primary is-outlined is-large has-text-centered " onclick="location.href=`{% url 'customer_signup' %}` ">Sign up as Customer</button>
<button class="button is-primary is-outlined is-large has-text-centered " onclick="location.href=`{% url 'delivery_signup' %}` ">Sign up as Delivery</button>
</div>
</div>
</div>
{% endblock %}
