<!--users/templates/users/dashboard.html-->
{% extends 'base.html' %}
{% block content %}
<!-- Hello, {{ user.username|default:'Guest' }}! -->
<div class="columns">
    <div class="column is-size-30">
<div class="box" >


<button class="button is-primary is-outlined is-large has-text-centered " onclick="location.href=`{% url 'StoreSignUpView' %}` ">Sign up as Store</button>
<button class="button is-primary is-outlined is-large has-text-centered " onclick="location.href=`{% url 'CustomerSignUpView' %}` ">Sign up as Customer</button>

</div>
</div>
</div>
{% endblock %}
