{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Include the Bulma CSS framework for styling -->
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<title>TPO</title>
</head>
<body>
<article class="message is-primary">
    <div class="message is-large" >
    <div class="message-header">
      <p>Third Party Order</p>
      
    </div>
    </div>
    <div class="message-body">
      IT'S A THIRD PARTY WEBSITE TO GET THE BEST BUYING EXPERIENCE, A RELIABLE AND SECURE SYSTEM  HAD BUILT BETWEEN THE SELLER AND THE BUYER.
      <br>
      <br>
      <strong>BUT HOW !?</strong> by create an accounts for the customers (sellers) and the markets (buyers) and through the information that
       entered during registration we will ensure the buyer’s credibility and seriousness in buying and paying, and on the other hand , 
       ensuring the credibility of the store and its merchandise through feedback from customers, <a href="https://docs.google.com/document/d/1LV3r6QrHmdnSTAHfUX67W0VTB0UwZYJiJziID_NtNKQ/edit?usp=sharing">more details</a> . 

       <br>
       <br>
       <strong> Developed By </strong>
        <a href="https://www.linkedin.com/in/raghad-abu-samor-9317b51a4">Raghad Abu Samor</a> . 
        <a href="https://www.linkedin.com/in/ma7moud-hijjeh">Mahmoud Hijjeh </a>
    </div>
  </article>

</body>
</html>