{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Third Party Order</title>


      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css"
    />
    </head>

    <body>
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="card">
              {% if messages %}
          <div class="notification is-success">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif%}
              <div class="card-image">
                <figure class="image is-3by1">
                  <img src="https://via.placeholder.com/1280x720" alt="User Cover Photo">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="{{ user.image.url }}" alt="User Image">
                    </figure>
                  </div>
                  <div class="media-content">

                    <p class="title is-4">{{ user.username}}</p>
                    <div>
                      <br>
                      <label id="my-label" class="subtitle is-6" id="userID">User ID: {{user.id}}</label>
                    <div class="buttons is-right">
                      <button id="copy-btn" class="button is-primary is-rounded">Copy ID</button>
                    </div>
                  </div>
                  </div>
                </div>
                <div class="content">
                  <p><i class="fas fa-map-marker-alt"></i>location: {{user.location}}</p>
                  {% if user.is_customer %}
                  <p>Age: {{ user.customer.age }}</p>
                  {% endif %}
                  <p>Phone number: {{ user.phone_number }}</p>
                </div>
          
              </div>
            </div>
            <br>
            
              {% if user.is_customer %}
              <div class="card">
                <div class="card-content">
                <form method="post" action="{% url 'users:store_evaluation' %}">
                  {% csrf_token %}
                  <div class="field">
                    <label class="label">Store</label>
                    <div class="control">
                      <div class="select">
                        <select name="store">
                          {% for store in stores %}
                            <option value="{{ store.pk}}">{{ store.account_name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Rating</label>
                    <div class="control">
                      <input class="input" type="number" name="rating" min="1" max="5">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Comment</label>
                    <div class="control">
                      <textarea class="textarea" name="comment"></textarea>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <button class="button is-primary is-rounded" type="submit">Submit Evaluation</button>
                    </div>
                  </div>
                </form>
              {% endif %}
            </div>
          </div>
            <br>
            <div class="card" >
              <div class="card-content">
              <button class="button is-primary is-outlined is-large has-text-centered " onclick="location.href=`{% url 'users:logout' %}` ">Log out</button>
          <button class="button is-primary is-outlined is-large has-text-centered " onclick="location.href=`{% url 'users:password_change' %}` ">password change</button>
            </div>
          </div>
          </div>
        </div>
      </div>

    <script>
      var copyBtn = document.getElementById("copy-btn");
      copyBtn.addEventListener("click", copyLabel);
      function copyLabel() {
        var label = document.getElementById("my-label");
        var textToCopy = label.innerText;

           // Create a hidden textarea element
    var textArea = document.createElement("textarea");
    textArea.value = textToCopy;
    document.body.appendChild(textArea);
    textArea.select();

             // Copy the text to the clipboard
    document.execCommand("copy");

    // Remove the textarea element
    document.body.removeChild(textArea);
    alert('Copied the text: ' + textToCopy);
  }
</script>

    </body>
  </html>
  {% else %}
  <div class="columns">
    <div class="column is-size-30">
<div class="box" >
  <button class="button is-primary is-outlined is-large has-text-centered " onclick="location.href=`{% url 'login' %}` ">Log in</button>
<button class="button is-primary is-outlined is-large has-text-centered " onclick="location.href=`{% url 'signup' %}` ">Sign up</button>
</div>
</div>
</div>
{% endif %}
{% endblock %}