.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */

}

.App>.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
*::selection{
  background-color: #33C2C7;
   color: #fff;
}